.elements__trash {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 18px;
    height: 19px;
    background-repeat: no-repeat;
    background: none;
    border: none;
    padding: 0;
    background-image: url(../../../images/trash.svg);
}
 .elements__trash:hover {
    cursor: pointer;
    opacity: 0.6;
 }